<!DOCTYPE html>
<html lang="en">
    <head>
    <!-- Responsive Master -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        @Styles.Render("~/Content/0.2.1-pure-min.css")
        @Styles.Render("~/Content/global.min.css")
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:500,400,300,100">
        @Styles.Render("~/Content/cards.css")
        @Bundles.RenderStylesheets()
    </head>
    <body>
        <div id="main-content" class="container" role="main">
            <div class="pure-container">
				@RenderBody()
            </div>
        </div>
        @{
            Bundles.Reference("~/bundles/core");
        }
        
        @Bundles.RenderScripts()
    </body>
</html>
